header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-size: larger;
}


input[type="text"] {
  padding: 10px;
  margin-right: 4px;
  
}
 
button {
  padding: 10px;
  cursor: pointer;
}
button:hover{
  
}

#newsContainer {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  padding: 20px;
  /* border: 2px solid black;*/
}

.newsArticle {
  width: 470px;
  padding: 10px;
  margin: 10px;
  height: 500px;
  border: 1px solid black;  
  /* margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1; */
}

/* .newsArticle h2 {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
} */

/* .newsArticle p {
  margin-top: 5px;
  font-size: 20px;
} */

.newsArticle img {
  width: 300px;
}

.newsArticle a{
  font-size: x-large;
}

#icon{
  font-size: large;
}